{% extends "topic/base.html" %}
{% block title %}个人动态{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="side-bar-card flag clearfix">
                    <div class="col-xs-3">
                        <img src=" {{ user.image }} ">
                    </div>
                    <div class="col-xs-8">
                        <div class="text-qm">{{ user.username }}</div>
                        注册时间
                        <div class="right-time" data-created_time=" {{ user.created_time }} "></div>
                    </div>
                </div>
                <div class="news-list">
                    <h2>最近创建的话题</h2>
                    {% for t in created %}
                        <div class="news-list-item clearfix">
                            <div class="col-xs-7">
                                <a href="{{ url_for('topic.detail', id=t.id) }}" class="title">{{ t.title }}</a>
                            </div>
                            <div class="col-xs-5">
                                <div class="info">
                                    <span>发帖时间</span> ⋅
                                    <span class="right-time" data-created_time="{{ t.created_time }}"></span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="news-list">
                    <h2>最近参与的话题</h2>
                    {% for t in replied %}
                        <div class="news-list-item clearfix">
                            <div class="col-xs-7">
                                <a href="{{ url_for('topic.detail', id=t.id) }}" class="title">{{ t.title }}</a>
                            </div>
                            <div class="col-xs-5">
                                <div class="info">
                                    <span>发帖时间</span> ⋅
                                    <span class="right-time" data-created_time="{{ t.created_time }}"></span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        var es = function (sel) {
            return document.querySelectorAll(sel)
        }

        var registerTimer = function () {
            setInterval(function () {
                var times = es('.right-time')
                for (var i = 0; i < times.length; i++) {
                    var t = times[i]
                    var time = Number(t.dataset.created_time)
                    var now = Math.floor(new Date() / 1000)
                    var delta = now - time
                    var s = ''
                    if (delta <= 3600) {
                        s = Math.floor(delta / 60) + "分钟前"
                    } else if (delta <= 86400) {
                        s = Math.floor(delta / 3600) + "小时前"
                    } else if (delta > 86400 && delta <= 31536000) {
                        s = Math.floor(delta / 86400) + "天前"
                    } else if (delta > 31536000) {
                        s = Math.floor(delta / 31536000) + "年前"
                    }
                    t.innerText = s
                }
            }, 1000)
        }
        var __main = function () {
            registerTimer()
        }

        __main()

    </script>
{% endblock %}
